docker-compose.yml
wp-admin
wp-includes
wp-config-docker.php
wp-config.php
html/wp-content/languages
html/wp-content/plugins
html/wp-content/upgrade
html/wp-content/uploads
html/wp-content/index.php
html/wp-content/themes/twentytwenty
html/wp-content/themes/twentytwentyone
html/wp-content/themes/twentytwentytwo